In [ ]:
#question1
print("M Vamshi krishna Reddy")

M Vamshi krishna Reddy

In [ ]:
#question2
print('single line comment') #single line comment
"""printing multiline
comment"""
print("multiline comment")

single line comment
multiline comment

In [ ]:
#question 3
x = [100,True,False,'abc',1.0]
for i in x:
  print(type(i))

<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'float'>

In [ ]:
#question 4
x = "awesome" #global variable

def myfunc():
  x = "fantastic"       #local variable have scope only upto the function only
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# **operators**

In [ ]:
 # queston 1
 def operate(x,y):
   print("addition:",x+y)
   print("subraction:",x-y)
   print("multiplication:",x*y)
   print("division:",x/y)
   if x==y:
     print('given numbers are equal')
   else:
     print('not equal')
   if x > y:
     print('first number is greater than second number')
   else:
      print('first number is smaller than second number')
operate(2,3)

addition: 5
subraction: -1
multiplication: 6
division: 0.6666666666666666
not equal
first number is smaller than second number

#**3 Loops**

In [ ]:
for i in range(10):
  print("Bright IT Career")

Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career
Bright IT Career

## printing 1 to 20

In [ ]:
i=0
while i<=20:
  i=i+1
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

## largest among 3 numbers

In [ ]:
x = [3,2,7]
y=x[0]
for i in x:
  if y>i:
    y=i
print(i)

7

## even and odd numbers from 10 to 20

In [ ]:
i = 10
while(i<=20):
  if i%2 == 0:
    print(i,'is even')
  else:
    print(i,'is odd')
  i=i+1

10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

## amstrong number

In [ ]:
n=153
s=n  
sum1=0
while n!=0:
  r=n%10
  sum1=sum1+(r*r*r)
  n=n//10 
if s==sum1:
  print("The given number",s,"is armstrong number")
else:
  print("The given number",s,"is not armstrong number")

The given number 153 is armstrong number

## prime or not

In [ ]:
x = 23
i=2
while i<x:
  if x%i==0:
    print('not even')
    break
  else:
    i=i+1
if x-i==0:
  print('even number')

even number

## polindrome

In [ ]:
x = 16461
y = str(x)
z=len(y)-1
for i in range(0,int(z/2+1)):
  if y[i]==y[z]:
    z=z-1
  else:
    print('not polindrome')
    break
if i>=int(z/2):
  print('polindrome')

polindrome

## Lists

####adding integers to list

In [ ]:
x = []
l = int(input('length'))
for i in range(0,l):
  x.append(int(input()))
print(x)

length4
1
2
3
4
[1, 2, 3, 4]

###average of list

In [ ]:
y=0
for i in x:
  y=y+i
y=y/l
print(y)

2.5

### index of given number

In [ ]:
a = 3
for i in range(0,l):
  if a==x[i]:
    print('index:',i)
    break

index: 2

##copying of arrays

In [ ]:
x = [1,2,3,4,5]
y = [6,7,8,9,0]
def cop(a,b):
  c=a+b
  print(c)
cop(x,y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

##insert an element at given specific postion

In [ ]:
x = [2,5,4,12]
def ins(b,a,pos):
  b[pos-1]=a
  return(b)
y = ins(x,30,2)
print(y)

[2, 30, 4, 12]

##maximam and minimum value of array

In [ ]:
x = [2,30,15,21,8,46,63]
def minmax(a):
  min=10000
  max=0
  for i in a:
    if min>i:
      min=i
    elif max<i:
      max=i
  print('minimum:',min,'maximum:',max)
minmax(x)

minimum: 2 maximum: 63

## function to reverse array

In [ ]:
 x = [2,30,15,21,8,46,63]  #x.reverse()
                           # y=x[::-1]
 def reverse(a):
   i = len(a)
   b=[]
   for j in range(0,i):
     b.append(a[-(j+1)])
   print(b)
reverse(x)

[63, 46, 8, 21, 15, 30, 2]

##to find duplicte values of list

In [1]:
def Repeat(x):
	_size = len(x)
	repeated = []
	for i in range(_size):
		k = i + 1
		for j in range(k, _size):
			if x[i] == x[j] and x[i] not in repeated:
				repeated.append(x[i])
	return repeated
list1 = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
print (Repeat(list1))

[20, 30, -20, 60]

##Dictionaries

In [2]:
Dict = {1:'Kashish', 2:'Kritika', 3:'Aastha', 4:'Vaishali', 5:'Muskan'}
print("Dictionary with each item as a pair:",Dict)

Dictionary with each item as a pair: {1: 'Kashish', 2: 'Kritika', 3: 'Aastha', 4: 'Vaishali', 5: 'Muskan'}

In [3]:
Dict[6] = 'Nitya'
print("\n Dictionary with new item added:",Dict)

 Dictionary with new item added: {1: 'Kashish', 2: 'Kritika', 3: 'Aastha', 4: 'Vaishali', 5: 'Muskan', 6: 'Nitya'}

In [4]:
Dict[3] = 'Navdisha'
print("\n Dictionary with updated values:",Dict)
print("\n Accessing one value in Dictionary:",Dict[1])

 Dictionary with updated values: {1: 'Kashish', 2: 'Kritika', 3: 'Navdisha', 4: 'Vaishali', 5: 'Muskan', 6: 'Nitya'}

 Accessing one value in Dictionary: Kashish

In [5]:
del Dict[6]
print("\n Delete a value from a Dictionary:",Dict)

 Delete a value from a Dictionary: {1: 'Kashish', 2: 'Kritika', 3: 'Navdisha', 4: 'Vaishali', 5: 'Muskan'}

In [6]:
Dict1 = {1: 'Kashish', 2: 'Kritika',
        3:{'Age' : 18, 'Branch' : 'CSE', 'Year' : 'Third Year'}}
print("\n Nested loop Dictionary:",Dict1)

print("\n Accessing an element of a Nested Dictionary:",Dict1[2])

 Nested loop Dictionary: {1: 'Kashish', 2: 'Kritika', 3: {'Age': 18, 'Branch': 'CSE', 'Year': 'Third Year'}}

 Accessing an element of a Nested Dictionary: Kritika

## Files

In [18]:
file1 = open("python.txt","r")
data = file1.read()
print(data)

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

In [21]:
file2 = open("python.txt","w")
str1 = 'Python'
file2.write(str1)

6

In [22]:
file3 = open("python.txt","r")
dat = file3.read()
print(data)

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

##Static

In [23]:
class Python:
# Access through class    
 staticVariable = 9 
print(Python.staticVariable)

#Change within an class
Python.staticVariable = 12
print(Python.staticVariable) # Gives 12

#Access through an instance
instance = Python()
print(instance.staticVariable) # Gives 12

#Change within an instance
instance.staticVariable = 15
print(instance.staticVariable) # Gives 15
print(Python.staticVariable) #Gives 12

9
12
12
15
12

In [24]:

class A:
    # default constructor
    def __init__(self):
     self.name = "Kashish"
     # a method for printing data members
    def print_A(self):
        print(self.name)
# creating object of the class
obj = A()
# calling the instance method using the object obj
obj.print_A()

class B(A):
    def __init__(self):
     self.name = "KG"
    def print_B(self):
        print(self.name)
obj1 = B()
obj1.print_B()

class C:
    # public data member
    name = None

     # protected data members
    _roll = None 

     # private data member
    __branch = None

    # constructor
    def __init__(self,name,roll,branch):
        self.name = name  
        self._roll = roll
        self.__branch = branch  
    def dsiplayName(self):
        print("Name:",self.name)
        # protected member function
    def _displayRoll(self):
         # accessing protected data members
        print("Roll:",self._roll)

         # private member function 
    def __displayBranch(self):
        # accessing private data members
        print("Branch:",self.__branch)

         # public member function
    def access__displayBranch(self):     
          # accessing private member function
        self.__displayBranch()

class D(C):
    def __init__(self,name, roll, branch):
        super().__init__(name,roll, branch)
      # public member function
    def access_displayRoll(self):            
         # accessing protected member functions of super class
        self._displayRoll()

# creating objects of the derived class    
obj = D("Kashish", 5 , "CSE")
# calling public member functions of the class  
obj.dsiplayName()
obj.access_displayRoll()
obj.access__displayBranch()

Kashish
KG
Name: Kashish
Roll: 5
Branch: CSE

##Inheritance

In [25]:
class A():  
    def display(dp):
        print("Display Inside class A ")
 # class A show method    
    def show(self):
        print("Show Inside class A")
    
# Inherited or Sub class (Note A in bracket) 
class B (A): 
    def print(pt):
        print("Print Inside class B")    
    # class B show method
    def show(self):
        print("Show Inside class B")
    
# Inherited or Sub class (Note B in bracket) 
class C (B): 
          
    # class C show method
    def show(self):
        print("Show Inside class C ")         
    
# Driver code 
s = A()
s.display()
k= B()
k.print()
g = C()   
g.show()

Display Inside class A
Print Inside class B
Show Inside class C

##Abstract Classes

In [28]:
class Polygon(): #base class / super class
 
    #@abstractmethod
    def noofsides(self):
        pass
 
class Triangle(Polygon): #subclass
 
    # overriding abstract method
    def noofsides(self):
        print("Triangle: I have 3 sides")
 
class Pentagon(Polygon): #subclass
 
    # overriding abstract method
    def noofsides(self):
        print("Pentagon: I have 5 sides")
 
class Hexagon(Polygon): #subclass
 
    # overriding abstract method
    def noofsides(self):
        print("Hexagon: I have 6 sides")
 
class Quadrilateral(Polygon): #subclass
 
    # overriding abstract method
    def noofsides(self):
        print("Quadrilateral: I have 4 sides")
 
# Driver code
# Creating the objects to call the abstract method.
R = Triangle()
R.noofsides()
 
K = Quadrilateral()
K.noofsides()
 
R = Pentagon()
R.noofsides()
 
K = Hexagon()
K.noofsides()

Triangle: I have 3 sides
Quadrilateral: I have 4 sides
Pentagon: I have 5 sides
Hexagon: I have 6 sides

## Exceptions

In [29]:
a = [1, 2, 3]
try:
    print ("Second element = ",a[1])
 
    # Throws error since there are only 3 elements in array
    print ("Fourth element = ",a[3])
    
except:
    print ("An error occurred")

print()

b = [3,2,1]
try:
    a == b
except:
    print("They are not equal")
else:
    print("Both Equal") 

print()

try:
    k = 5/0
    print(k)
except ZeroDivisionError:
    print("Can't divide by zero")
finally:
    print('This is always executed')

Second element =  2
An error occurred

Both Equal

Can't divide by zero
This is always executed